body {
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    background: linear-gradient(white, gray);
    height: 315rem;
    width: 96.5%;
    padding: 20px;
    font-family: sans-serif;
    /* overflow-y: scroll; */
}

/**     Titles of iFrame's  */
h2 {
    /* text-align: center; */
    /* margin: 0 0 20px 0; */
    margin-left: 2rem;
}

span.small {
    /* text-align: center; */
    font-size: 60%;
    vertical-align: middle;
}

img {
    width: 300px;
    height: 200px;
}

/* input {
    border: 0.3rem solid black;
    border-radius: 0.3rem;
} */

/**    Container Around Form  */
#url {
    margin: 0 0 20px 0px;
    display: block;
}

/**       Input for Site Address  */
#url input[type="text"] {
    border: solid 3px #666;
    border-radius: 0.3rem;
    width: 35rem;
    margin: 0 auto;
    font-size: 2em;
    text-align: center;
}

#url input[type="submit"] {
    display: none;
}

#options {
    display: flex;
    /* border: 0.2rem solid green; */
    padding: 0.5rem;
    width: 30rem;
}

#url label {
    margin: 0 auto;
    margin-right: 2.5rem;
}

#url {
    /* display: inline; */
    /* float: right; */
    line-height: 25px;
    width: 13%;
}

#url input {
    margin-top: 5px;
}

#frames {
    /* overflow-x: scroll; */
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.frame {
    margin-top: 5rem;
}

.frame:last-child {
    margin-right: 0;
}

/* .frame img {
    display: none;
    vertical-align: middle;
} */

iframe {
    border: 0.1rem solid black;
}

.widthOnly {
    height: 580px;
}

.widthOnly h2 span {
    display: none;
}

.widthOnly > iframe {
    height: 500px;
}

.notice {
    /* position: static; */
    /* display: relative; */
    margin-top: 260rem;
    /* left: 0; */
}
